.productPage {
  margin: 50px 80px 70px;
}
.productsItemWrap {
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}

.filter {
  width: 21%;
}

.filterWrap {
  display: flex;
  justify-content: space-between;
}

.productsHolder {
  width: 76%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.manSelect {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
}
